.films-page-filters {
  display: flex;
  align-items: center;
  gap: 30px;
  overflow-x: auto;
  transition-duration: 1s;
  z-index: 1;
  opacity: 1;
}

.films-filters-link {
  text-decoration: none;
  padding: 8px;
  color: var(--color-black);
  font-size: 28px;
  text-align-last: left;
  font-family: Poppins-SemiBold;
  text-wrap: nowrap;
}

.films-filters-link:hover,
.films-filters-link.active {
  filter: invert(1);
  background-color: var(--color-white);
}

.films-filter-dropdown {
  background-color: var(--color-black);
  color: var(--color-white);
  max-width: 260px;
  width: 100%;
  position: relative;
  max-height: 30px;
  min-height: 30px;
  padding: 4px;
  border: none;
  cursor: pointer;
  z-index: 5;
  display: flex;
  font-size: 22px;
  align-items: center;
  font-family: Poppins-SemiBold;
  justify-content: space-between;
}

.films-filter-drop-text {
  line-height: 22px;
}

@media (max-width: 1400px) {
  .films-page-filters {
    height: 0;
    position: absolute;
    top: 30px;
    background-color: var(--color-white);
    align-items: start;
    left: 0;
    flex-direction: column;
    width: 100%;
    max-width: 260px;
    overflow: hidden;
  }

  .exibe-films-filters {
    display: flex;
    width: 100%;
    z-index: 2;
    padding: 0;
    gap: 0;
    height: 348px;
  }

  .films-filters-link {
    width: 100%;
  }
}
