.contato-page-main {
  padding-top: 92px;
}

.contato-page {
  background: var(--color-black);
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  color: var(--color-white);
  font-family: Poppins-SemiBold;
}

.contato-page-title {
  font-size: 32px;
  font-family: Poppins-ExtraBold;
}

.contato-page-title-destaque {
  transition-duration: 0.5s;
  color: var(--color-orange);
}

.contato-page-title-destaque:hover {
  color: var(--color-white);
}

.contato-page-subtitle {
  font-size: 20px;
}

.contato-page-canais-contato {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contato-page-text-orange {
  color: var(--color-orange);
}

.contato-page-text-upper {
  font-size: 20px;
  font-family: Poppins-ExtraBold;
}

.contato-page-text-normal {
  font-size: 16px;
}

.contato-page-canais-contato > p {
  display: flex;
  gap: 10px;
  color: var(--color-orange);
  font-family: Poppins-SemiBold;
}

@media (max-width: 768px) {
  .contato-page {
    padding: 30px 20px;
    align-items: center;
    text-align: center;
  }

  .contato-page-title {
    font-size: 24px;
  }

  .contato-page-subtitle {
    font-size: 18px;
  }

  .contato-page p {
    font-size: 16px;
  }

  .contato-page-canais-contato > p {
    font-size: 12px;
    justify-content: center;
    align-items: center;
  }
}
