.home-film-article {
  display: flex;
  gap: 20px;
  max-width: 100%;
  height: min-content;
  padding: 10px;
}

.large-home-film {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-film-article img {
  aspect-ratio: 16 / 9;
  max-width: 50%;
}

.large-home-film img {
  aspect-ratio: 16 / 9;
  max-width: 100%;
}

.home-film-article h1,
.large-home-film h2 {
  font-size: 28px;
  font-family: Poppins-SemiBold;
}

.home-film-article h2 {
  font-size: 16px;
  color: var(--color-gray);
}

.home-film-article:hover {
    cursor: pointer;
    background-color: var(--color-black);
    color: var(--color-white);
}

@media (max-width: 1200px) {
    .home-film-article {
        flex-direction: column;
        gap: 10px;
        grid-area: auto !important;
        margin: 0 !important;
    }
    
    .home-film-article img {
        max-width: 100%;
    }
}
