.about-page-main {
  padding-top: 92px;
}

.about-page {
  min-height: calc(100vh - 192px);
  padding: 60px 25vw;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about-page p {
  font-family: Poppins-SemiBold;
  font-size: 22px;
}

.about-page-title {
  font-size: 32px;
  font-family: Poppins-ExtraBold;
}

.about-page-divider {
  width: 91px;
  border: 2px solid var(--color-black);
}

@media (max-width: 768px) {
  .about-page {
    padding: 30px 5vw;
    align-items: center;
    text-align: center;
  }
  .about-page-title {
    font-size: 24px;
  }
  .about-page p {
    font-size: 16px;
  }
}
