.diretores-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 20px 30px;
  min-height: calc(100vh - 191px);
}

.diretores-title {
  text-shadow: 0px 0px 10px black;  
  font-size: 24px;
  font-family: Poppins-SemiBold;
  z-index: 1;
  width: min-content;
  color: white;
  gap: 10px;
  padding: 0 5px;
}

.diretores-title:hover{
  background-color: black;
  cursor: pointer;
  filter: invert(1);
}

/* .diretores-links{
} */

.diretor-link {
  text-shadow: 0px 0px 10px black;  
  font-size: 24px;
  font-family: Poppins-SemiBold;
  display: flex;
  max-width: 320px;
  width: 100%;
  position: relative;
  padding: 5px;
  align-items: center;
  z-index: 2;
  gap: 10px;
  color: white;
}

.diretor-link:hover{
  background-color: black;
    cursor: pointer;
    filter: invert(1);
}

.diretores-fundo{
  top: 92px;
  background-size: cover;
  background-position: center;
  transition-duration: 0.5s;
  right: 0;
  width: 100%;
  height: calc(100vh - 180px);
  position: absolute;
  z-index: 1;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .diretores-fundo {
    top: 92px;

    transition-duration: 0.5s;
    right: 0;
    width: 100%;
    height: calc(100vh - 180px);
    position: absolute;
    z-index: 1;
    animation: fadeIn 1s;
  }
}