.header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  position: fixed;
  background-color: var(--color-white);
  top: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 0px solid transparent; 
  transition-duration: 0.5s;
}

.logo-header{
  width: 275px;
  padding: 10px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.logo-header:hover{
  background-color: var(--color-white);
  filter: invert(100%);
}

.menu-nav-header{
  transition-duration: 0.5s;
  cursor: pointer;
  flex-direction: column;
}

.menu-nav-header:hover{
  background-color: var(--color-white);
  filter: invert(100%);
}

.borderClass {
  border-bottom: 2px solid var(--color-gray); 
 }

 /* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }  */
