.navbar-header {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 25px;
  width: 100vw;
  height: calc(100vh - 92px);
  position: absolute;
  z-index: 10;
  top: 92px;
  right: -100vw;
  overflow-y: auto;
  transition: 0.5s;
  background-color: var(--color-white);
}

.navbar-header-active {
  right: 0;
}

.navbar-header > a {
  font-size: 40px;
  padding-left: 10px;
  max-width: 450px;
  width: 100%;
  text-align: left;
  font-family: Poppins-SemiBold;
  text-decoration: none;
  color: var(--color-black);
}

.navbar-header > a:hover,
.navbar-header > a.active {
  background-color: var(--color-white);
  filter: invert(1);
}

.navbar-header::-webkit-scrollbar {
  display: none;
}

.idiomas {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
  width: 100%;
}

.idiomas button {
  background-color: #fff;
  border-radius: 8px;
  font-family: Poppins-ExtraBold;
  padding: 10px;
}

@media (max-width: 768px) {
  .navbar-header > a {
    font-size: 28px;
  }

  .navbar-header{
    left: -100vw;
  }

  .navbar-header-active {
    padding: 0;
    align-items: start;
    left: 0;
  }
}
