.footer {
  padding: 20px 40px;
  background: var(--color-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-options {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
}

.footer__redes-sociais {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-links-divider {
  width: 1px;
  height: 10px;
  background: var(--color-white);
}

.footer-links-option {
  font-size: 13px;
  color: var(--color-gray);
  text-decoration: none;
}

.footer-copyright {
  font-size: 13px;
  color: var(--color-gray);
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 20px;
  }

  .footer-options {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .footer-links-option {
    text-wrap: nowrap;
  }

  .footer-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-logo {
    width: 200px;
  }

  .footer-links-divider {
    display: none;
  }
}
