.film-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.film-details .films-filters-link {
  width: 100%;
}

.filter-and-title {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.film-detail-title {
  font-size: 22px;
  font-family: Poppins-SemiBold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.film-detail-title::before {
  content: "/";
  font-size: 16px;
}

.film-detail-title::after {
  content: "/";
  font-size: 16px;
}

.film-details-info {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px 20px;
  flex-wrap: wrap;
}

.film-details-text {
  font-size: 20px;
  white-space: pre-line;
}

.film-player-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.lista-premios {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

.diretor-premios {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: black;
  color: white;
}

.diretor-premios h2 {
  font-family: Poppins-ExtraBold;
}

.filmes-relacionados {
  width: 100%;
  margin-top: -21px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.film-details .film-item__title{
  font-size: 16px;
}

.diretor-page .exibe-films-filters {
  display: flex;
  width: 100%;
  padding: 0;
  background-color: var(--color-white);
  gap: 0;
  height: 232px;
}

@media (max-width: 768px) {
  .film-thumb-title {
    display: none;
  }

  .film-play-icon {
    width: 40px;
    height: 40px;
    right: calc(50% - 20px);
    top: calc(50% - 20px);
  }

  .film-details-credits {
    justify-content: center;
  }

  .film-details-director,
  .film-details-cliente,
  .film-details-categoria {
    flex-direction: row;
  }

  .film-thumb-principal {
    margin: 0 20px;
  }

  .film-relacionado-info {
    padding: 10px;
    min-width: 160px;
    height: auto;
  }

  .film-relacionado-info > h2 {
    font-size: 12px;
    color: var(--color-white);
    text-shadow: 0 0 20px var(--color-black);
  }

  .film-detail-title::before {
    display: none;
  }

  .film-down-icon {
    display: none;
  }
}
