.home-page-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.home-down-arrow-icon {
  margin-top: 25px;
}
.home-down-arrow-icon:hover {
  cursor: pointer;
  color: var(--color-gray) !important;
}

.home-page-video-loop {
  width: 100%;
}

.home-page-films {
  display: grid;
  width: 100%;
  margin-bottom: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.idiomas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
  width: 100%;
}

.idiomas button {
  background-color: #fff;
  border-radius: 8px;
  font-family: Poppins-ExtraBold;
  padding: 10px;
}

.idiomas button:hover {
  cursor: pointer;
  background-color: #c1c1c1;
}

@media (max-width: 1200px) {
  .home-page-films {
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

@media (max-width: 768px) {
  .home-down-arrow-icon {
    display: none;
  }

  .idiomas{
    gap: 10px;
  }

  .idiomas button{
    font-size: 12px;
    padding: 4px;
  }
}
