.home-page-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.home-down-arrow-icon {
  margin-top: 25px;
}
.home-down-arrow-icon:hover {
  cursor: pointer;
  color: var(--color-gray) !important;
}

.home-page-video-loop {
  width: 100%;
}

.home-page-films {
  display: grid;
  width: 100%;
  margin-bottom: 20px;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1200px) {
  .home-page-films {
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
