.film-item{
    flex: 1;
    min-width: 600px;
    height: 400px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.film-item:last-of-type{
    max-width: 700px;
}

@media (max-width: 768px) {
    .film-item{
        min-width: 100%;
        height: 300px;
        padding: 20px;
    }
}