.film-item {
  aspect-ratio: 16 / 9;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;
}

.film-item__title {
  color: var(--color-white);
  text-shadow: 0 0 20px var(--color-black);
  font-size: 30px;
  z-index: 1;
}

.film-item__image:hover {
  background-size: 110% 110%;
  filter: brightness(0.5);
}

.film-item__image{
  position: absolute;
  top: 0;
  right: 0;
  transition-duration: 0.5s;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.film-item__subtitle {
  text-shadow: 0 0 20px var(--color-black);
  color: var(--color-white);
  font-size: 14px;
  z-index: 1;
}

@media (max-width: 768px) {
  .film-item {
    padding: 20px;
  }
}
